// Color variables (appears count calculates by raw css)
@color0: #000000; // Appears 33 times
@color1: #ffffff; // Appears 16 times
@color2: #c5c8c6; // Appears 16 times
@color3: #cccccc; // Appears 9 times
@color4: #e6e6e6; // Appears 9 times
@color5: #333333; // Appears 9 times
@color6: #494949; // Appears 8 times
@color7: #1d1f21; // Appears 8 times
@color8: #dddddd; // Appears 7 times
@color9: #eeeeee; // Appears 7 times
@color10: #6a836f; // Appears 7 times
@color11: #ff6464; // Appears 6 times
@color12: #888888; // Appears 6 times
@color13: #364041; // Appears 5 times
@color14: #282a2e; // Appears 5 times
@color15: #81a2be; // Appears 5 times
@color16: #fe57a1; // Appears 4 times
@color17: #bbbbbb; // Appears 3 times
@color18: #818181; // Appears 3 times
@color19: #ff0000; // Appears 3 times
@color20: #7e3434; // Appears 2 times
@color21: #c7eefe; // Appears 2 times
@color22: #34345c; // Appears 2 times
@color23: #bfbfbf; // Appears 2 times
@color24: #789922; // Appears 2 times
@color25: #b16878; // Appears 2 times
@color26: #8a4151; // Appears 2 times
@color27: #eae3d3; // Appears 2 times
@color28: #5f89ac; // Appears 2 times
@color29: #aaaaaa; // Appears 2 times
@color30: #222222; // Appears 2 times
@color31: #e3ffde; // Appears 2 times
@color32: #117743; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width2: 500px; // Appears 6 times
@width11: 245px; // Appears 2 times
@width12: 140px; // Appears 2 times
@width14: 390px; // Appears 2 times
@width16: 218px; // Appears 2 times
@width17: 70px; // Appears 3 times
@width19: 100%; // Appears 3 times
@width20: none; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height1: 100px; // Appears 2 times
@height2: 18px; // Appears 2 times
@height3: 26px; // Appears 2 times
@height4: 100%; // Appears 5 times
@height5: 28px; // Appears 3 times
@height6: 10px; // Appears 3 times

.theme_default {
	a {
		color: @color22;
		&:visited {
			color: @color22;
		}
		&:hover {
			color: #dd0000;
		}
	}
	.thread_form {
		position: relative;
		input[type=text] {
			margin-bottom: 5px;
			margin-right: 10px;
		}
		input[type=password] {
			margin-bottom: 5px;
			margin-right: 10px;
		}
		form {
			margin-bottom: 0px;
		}
		.comment_label {
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-topright: 3px;
			-webkit-border-top-left-radius: 3px;
			-webkit-border-top-right-radius: 3px;
			background-color: @color9;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			border: 1px solid @color3;
			display: inline-block;
			font-weight: 400;
			height: @height2;
			left: 560px;
			line-height: @height2;
			min-width: 16px;
			min-width: @width17;
			padding: 4px 5px;
			position: absolute;
			text-align: center;
			text-shadow: 0px 1px 0px @color1;
			top: 11px;
			vertical-align: middle;
		}
		select {
			-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
			-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
			background: @color1;
			border: 1px solid @color3;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
			height: @height3;
			margin-bottom: 5px;
			margin-right: 10px;
			width: @width16;
		}
		input[type=file] {
			-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
			-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
			background: @color1;
			border: 1px solid @color3;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
			height: @height3;
			line-height: @height5;
			margin-bottom: 5px;
			margin-right: 10px;
			width: @width16;
		}
		label {
			min-width: 85px;
		}
		.rules {
			font-size: 11px;
			line-height: @height6;
			padding: 0 10px;
			p {
				margin-bottom: 0;
			}
			li {
				line-height: 14px;
			}
		}
	}
	.thread_form.uneditable-input {
		margin-bottom: 5px;
		margin-right: 10px;
	}
	.clearfix {
		zoom: 1;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			clear: both;
			content: "";
			display: table;
		}
	}
	.tooltip-inner {
		max-width: 300px;
	}
	p {
		margin: 2px 0 7px;
	}
	&: {
		-moz-selection {
			background: @color16;
			color: @color1;
			text-shadow: none;
		}
		selection {
			background: @color16;
			color: @color1;
			text-shadow: none;
		}
		-webkit-file-upload-button {
			bottom: 1px;
			margin-left: 2px;
			position: relative;
		}
	}
	.container-fluid {
		background-color: #0000;
		height: @height4;
		height: auto !important;
		margin: 0 auto -40px;
		min-height: @height4;
		padding: 0;
		position: static;
	}
	.btn-inverse {
		background: #77947d;
		color: @color1;
		&:hover {
			background: #57645d;
			color: @color1;
		}
	}
	.dropdown-menu {
		li>a {
			&:hover {
				background: @color10;
			}
		}
		.active>a {
			background: @color10;
			&:hover {
				background: @color10;
			}
		}
	}
	#footer {
		border: none;
		color: @color0;
		font-size: 11px;
		height: @height5;
		margin: 0;
		padding: 12px 15px 0;
		.footer_text {
			line-height: normal;
			margin: 8px 0;
			padding-bottom: 5px;
		}
		a {
			color: inherit;
		}
		.btn-group {
			margin: -2px 5px 0;
		}
		.dropdown-menu {
			color: @color5;
			left: inherit;
			right: 0;
			a {
				&:hover {
					color: @color1;
				}
			}
		}
	}
	#push {
		border: none;
		height: @height5;
		margin: 0;
		padding: 12px 15px 0;
	}
	.navbar {
		margin-bottom: 0;
		position: static;
		.nav>li>a {
			color: @color11;
			padding: 11px 10px;
			&:hover {
				color: @color1;
			}
		}
		.nav>li>a>i {
			display: inline !important;
			font-size: 16px;
			line-height: 8px;
		}
		.navbar-inner {
			background: transparent;
			box-shadow: none;
		}
		.divider-vertical {
			background-color: @color30;
			background-color: rgba(0, 0, 0, 0.1);
			border-right: 1px solid @color5;
			border-right: 1px solid rgba(0, 0, 0, 0.05);
		}
		.brand {
			margin-left: -10px;
		}
	}
	.navbar-fixed-top {
		.container {
			padding: 0 30px;
			width: auto;
		}
	}
	.letters {
		background-color: #0000;
		background: @color10;
		color: @color11;
		color: @color11;
		margin: 4px 0 -2px;
		padding: 0 30px;
		a {
			color: inherit;
			&:hover {
				color: @color1;
				text-decoration: none;
			}
		}
	}
	.navbar-search {
		.search-query {
			background: rgba(0, 0, 0, 0.3);
			color: @color9;
			text-shadow: none;
			width: @width14;
			&: {
				-webkit-input-placeholder {
					color: @color3;
					text-shadow: none;
				}
				-moz-placeholder {
					color: @color3;
					text-shadow: none;
				}
			}
		}
	}
	.search-dropdown {
		label {
			color: #777777;
			display: inline;
			font-size: 13px;
			margin-bottom: 0;
		}
	}
	.latest_search {
		a {
			text-overflow: ellipsis;
			white-space: nowrap;
			.options {
				font-size: 0.8em;
			}
		}
	}
	.search_box {
		-moz-border-radius: 4px;
		-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 4px;
		-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
		background: @color1;
		border-radius: 4px;
		border: 1px solid @color29;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
		display: none;
		padding: 0 10px;
		position: absolute;
		z-index: 100;
		.advanced_search {
			padding: 10px 5px;
			width: 420px;
			input {
				&:-moz-placeholder {
					font-size: 10px;
					line-height: 13px;
				}
				&:-ms-input-placeholder {
					font-size: 10px;
					line-height: 13px;
				}
				&: {
					-webkit-input-placeholder {
						font-size: 10px;
						line-height: 13px;
					}
				}
			}
			textarea {
				&:-moz-placeholder {
					font-size: 10px;
					line-height: 13px;
				}
				&:-ms-input-placeholder {
					font-size: 10px;
					line-height: 13px;
				}
				&: {
					-webkit-input-placeholder {
						font-size: 10px;
						line-height: 13px;
					}
				}
			}
			input[name=text] {
				font-size: 13px;
				height: @height2;
				line-height: 13px;
				padding: 4px 14px;
				width: @width14;
				&:-moz-placeholder {
					font-size: 13px;
					line-height: 1;
				}
				&:-ms-input-placeholder {
					font-size: 13px;
					line-height: 1;
				}
				&: {
					-webkit-input-placeholder {
						font-size: 13px;
						line-height: 1;
					}
				}
			}
			textarea[name=text] {
				&:-moz-placeholder {
					font-size: 13px;
					line-height: 1;
				}
				&:-ms-input-placeholder {
					font-size: 13px;
					line-height: 1;
				}
				&: {
					-webkit-input-placeholder {
						font-size: 13px;
						line-height: 1;
					}
				}
			}
			h4 {
				display: none;
			}
			input[type=text] {
				font-size: 12px;
				height: @height6;
				line-height: @height6;
				width: @width12;
			}
			input[type=date] {
				font-size: 10px;
				font-size: 12px;
				height: @height6;
				line-height: 1;
				line-height: @height6;
				width: @width12;
			}
			.btn {
				font-size: 11px;
				padding: 0px 4px;
			}
			.checkboxes {
				border-left: 1px solid @color3;
				padding-left: 10px;
			}
			.table {
				margin-bottom: 0px;
				td {
					font-size: 12px;
					padding: 8px 3px 3px;
					label {
						font-size: 12px;
						line-height: 14px;
					}
					&:first-of-type {
						display: none;
					}
				}
			}
			.radixes {
				width: @width11;
				h5 {
					border-bottom: 1px solid @color8;
					display: inline;
					font-size: 12px;
					margin-bottom: 3px;
					margin: 0;
				}
			}
			.add-on {
				font-size: 11px;
				height: @height6;
				line-height: @height6;
				width: @width17;
			}
		}
	}
	.advanced_search {
		margin: 0px auto;
		width: 630px;
		.column {
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
			width: 100px;
			width: @width11;
		}
		.column.checkboxes {
			width: 1@width17;
		}
		.buttons {
			border-bottom: 1px solid @color17;
			margin-bottom: 5px;
		}
		.add-on {
			width: @width17;
		}
		.input-prepend {
			margin-bottom: 2px;
		}
		input[name=text] {
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			border-radius: 50px;
			font-size: 20px;
			height: @height5;
			line-height: 23px;
			padding: 3px 10px;
			width: 608px;
		}
		.comment_wrap {
			border-bottom: 1px solid @color17;
			margin-bottom: 5px;
		}
		.btn {
			margin-bottom: 5px;
		}
		.table {
			tr {
				&:first-of-type {
					td {
						border-top: none;
					}
				}
			}
		}
		form {
			margin-bottom: 0px;
		}
		.radixes {
			width: 330px;
			label {
				float: left;
				width: 75px;
			}
			.btn {
				margin-bottom: 0;
			}
			.btn.uncheck {
				display: none;
			}
		}
		.latest_searches {
			clear: left;
			h5 {
				border-bottom: 1px solid @color8;
				display: inline;
				font-size: 12px;
			}
			ul {
				list-style: none;
				margin-left: 0;
				overflow: hidden;
				width: 238px;
				li {
					line-height: @height2;
					padding: 1px 2px 1px 4px;
					a {
						color: @color5;
						display: block;
						height: @height4;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: @width19;
					}
					&:hover {
						background: @color10;
						a {
							color: @color1;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	#main {
		.section_title {
			border-bottom: 3px solid @color12;
			font-weight: normal;
			padding: 2px 10px 2px 35px;
			a {
				text-decoration: underline;
			}
		}
		h3.section_title {
			font-size: 18px;
			margin-top: 0px;
		}
	}
	.btnr {
		background: transparent;
		border: 1px solid @color3;
		border: 1px solid rgba(0, 0, 0, 0.1);
		color: @color5;
		font-size: 11px;
		line-height: 11px;
		margin: 0 2px;
		padding: 0px 3px 1px;
		position: relative;
		text-shadow: none;
		top: -1px;
		&:hover {
			border: 1px solid @color12;
			border: 1px solid rgba(0, 0, 0, 0.4);
			color: @color0;
			cursor: pointer;
			text-decoration: none;
		}
	}
	nav.index_nav {
		margin: 40px auto;
		max-width: 960px;
		padding: 0 10px 10px;
	}
	nav.index_nav>ul {
		list-style: none;
		margin: 10px 75px 10px 15px;
		h2 {
			font-size: 2.0em;
		}
	}
	nav.index_nav>ul>li>ul {
		list-style: none;
		margin-left: 0px;
		margin-top: 10px;
	}
	nav.index_nav>ul>li>ul>li {
		font-size: 1.1em;
		margin-bottom: 5px;
		padding-left: 10px;
		h3 {
			font-size: 1.5em;
			line-height: 30px;
		}
		.help {
			font-size: 0.7em;
			vertical-align: middle;
		}
	}
	article.thread {
		border-top-color: @color11;
		border-top-width: 2px;
		border-top: 1px solid @color13;
		border-top: 1px solid rgba(0, 0, 0, 0.5);
		margin: 0 15px;
		padding: 25px 0;
		word-wrap: break-word;
		.post_type_is_op {
			color: @color0;
			font-weight: bold;
		}
		.post_show_board {
			color: @color0;
			font-weight: bold;
		}
		.post_controls {
			margin-left: 4px;
		}
		.post_type {
			margin-left: 4px;
			img {
				vertical-align: middle;
			}
		}
		h2.post_title {
			color: @color31;
			display: inline;
			font-size: 1em;
			font-weight: bold;
			line-height: inherit;
			margin: 0;
			padding: 0;
		}
		.post_poster_data {
			a {
				text-decoration: underline;
			}
		}
		.post_author {
			color: @color32;
			font-weight: bold;
		}
		.post_tripcode {
			color: @color32;
			font-weight: normal;
		}
		.poster_hash {
			font-family: Courier New, Courier, monospace;
		}
		.post_level {
			font-weight: bold;
		}
		.post_level.post_level_moderator {
			color: #800080;
		}
		.post_level.post_level_administrator {
			color: @color19;
		}
		.post_level.post_level_developer {
			color: #0000f0;
		}
		.post_level.post_level_verified {
			color: #007FFF;
		}
		.post_level.post_level_founder {
			color: #145031;
		}
		.post_level.post_level_manager {
			color: #FF0080;
		}
		.backlink_list {
			color: @color12;
			display: none;
			font-size: 11px;
		}
		.report_reason {
			background: #cfdffe;
			border: 1px solid #00248e;
			margin: 5px 10px 0 3px;
			overflow: hidden;
			padding: 2px 4px;
		}
		.ip_reporter {
			font-size: 85%;
		}
		article.post {
			margin: 0px 5px 3px 16px;
			word-break: break-word;
		}
		article.stub {
			margin: 0px 5px 3px 16px;
		}
		.greentext {
			color: @color24;
		}
		.spoiler {
			.greentext {
				color: black;
			}
			&:hover {
				.greentext {
					color: @color24;
				}
			}
		}
		.backlink.op {
			border-bottom: 1px dotted @color0;
		}
		.thread_form_wrap {
			float: left;
			margin: 20px;
			padding-bottom: 20px;
		}
		.thread_form {
			width: auto;
		}
		&:nth-of-type(1) {
			border-top: none;
		}
	}
	article.thread>header {
		font-family: Verdana, Arial, sans-serif;
		margin-left: 23px;
		overflow: hidden;
	}
	article.thread>.thread_image_box {
		color: @color16;
		float: left;
		font-size: 0.8em;
		line-height: 150%;
		margin: 0 20px 10px 15px;
		text-align: center;
		z-index: 5;
		.thread_image.is_spoiler_image {
			opacity: 0.05;
			&:hover {
				opacity: 1.0;
			}
		}
	}
	article.thread>.thread_image_box>.post_file {
		margin: 0 auto;
		max-width: 250px;
	}
	article.thread>.thread_image_box>.post_file_controls {
		bottom: -1px;
		margin: 0 -5px 0 -4px;
		position: relative;
		.btn.parent {
			font-size: 12px;
			line-height: 12px;
		}
	}
	article.thread>.thread_tools_bottom {
		margin-left: 30px;
		padding: 6px 0px;
		.omitted {
			color: @color13;
			font-size: 14px;
			font-weight: bold;
			position: relative;
			top: 1px;
		}
	}
	article.thread>.backlink_list {
		padding-left: 23px;
	}
	article.thread>.report_reason {
		margin-bottom: 10px;
	}
	article.thread>.text {
		padding: 10px 10px 10px 30px;
		word-wrap: break-word;
	}
	article.thread>aside>br {
		height: 0px;
		line-height: 0px;
	}
	.post_wrapper {
		background: @color31;
		border-bottom: 1px solid @color3;
		border-color: #FCBCCC;
		border-style: dashed;
		border-width: 3px;
		display: table-cell;
		margin-right: 0px;
		margin: 2px 10px 2px 20px;
		padding: 0 0 10px 10px;
	}
	.post_wrapper>.text {
		padding: 7px 10px 0px 15px;
		word-wrap: break-word;
	}
	.post_wrapper>.thread_image_box {
		color: @color12;
		float: left;
		font-size: 0.8em;
		line-height: 130%;
		margin: 0 10px 0 4px;
		padding-top: 5px;
		text-align: center;
		vertical-align: bottom;
		.post_image.is_spoiler_image {
			opacity: 0.2;
			&:hover {
				opacity: 1.0;
			}
		}
	}
	.post {
		.post_data {
			padding: 0 6px 0 0;
		}
		.post_file {
			color: @color12;
			display: block;
			font-size: 11px;
			line-height: @height2;
			margin-bottom: -4px;
			margin-right: 5px;
			margin-top: 3px;
			overflow: hidden;
			word-wrap: break-word;
			.btnr {
				font-size: 10px;
			}
		}
		header {
			display: -moz-inline-stack;
			font-family: Verdana, Arial, sans-serif;
			overflow: hidden;
			padding-top: 5px;
		}
	}
	.post.post_ghost {
		.post_wrapper {
			border-left: 5px solid #3a533f;
		}
	}
	.post.highlight {
		.post_wrapper {
			background: #eedbea;
		}
	}
	.backlink {
		color: #ca4980;
		display: inline-block;
	}
	#backlink {
		-moz-box-shadow: 0px 0px 3px @color5;
		-webkit-box-shadow: 0px 0px 3px @color5;
		box-shadow: 0px 0px 3px @color5;
		.post {
			margin: 0;
			max-width: @width20;
		}
	}
	.thread_image_box {
		.spoiler_box {
			background-image: url(images/missing-image.jpg);
			background: @color5;
			height: 150px;
			margin: 0 auto;
			overflow: hidden;
			width: 150px;
			.spoiler_box_text {
				background: red;
				border-bottom: 2px solid @color0;
				border-top: 2px solid @color0;
				color: @color1;
				display: block;
				font-size: 16px;
				font-weight: bold;
				margin-top: 30%;
				padding: 8px 0;
				text-shadow: none;
				text-transform: uppercase;
				.spoiler_box_text_help {
					display: block;
					font-size: 10px;
					line-height: @height6;
				}
			}
		}
	}
	.thread_form_wrap {
		background-color: #0000;
		background: #d6f0da;
		padding: 8px 20px 5px 20px;
	}
	#reply_ajax_notices {
		clear: both;
		display: none;
		margin-left: 20px;
		margin-top: 10px;
		padding: 8px;
		a {
			text-decoration: underline;
		}
	}
	#reply_ajax_notices.error {
		background: #ffc5c5;
		border: 1px solid red;
		display: block;
		margin-left: 0px;
	}
	#reply_ajax_notices.success {
		background: #dffad9;
		border: 1px solid #61b84d;
		display: block;
		margin-left: 0px;
	}
	#thread_o_matic>article.thread {
		border: none;
		float: left;
		font-size: 11px;
		line-height: 13px;
		margin: 5px 0.5%;
		width: 24%;
		.thread_tools_bottom {
			margin: 0;
			text-align: center;
		}
		&:nth-of-type(n+5) {
			border-top: 2px solid @color10;
		}
	}
	#thread_o_matic>article.thread>header {
		margin: 0;
		text-align: center;
		.post_controls {
			display: block;
			margin-bottom: 2px;
			margin-top: 3px;
		}
	}
	#thread_o_matic>article.thread>.thread_image_box {
		float: none;
		line-height: inherit;
		margin-top: 6px;
		max-width: @width20;
		.thread_image {
			box-shadow: 0px 0px 2px @color12;
			height: auto;
			max-width: @width19;
		}
	}
	#thread_o_matic>article.thread>.thread_image_box>.post_file_controls {
		display: block;
		margin-top: 3px;
	}
	.modal-label {
		float: left;
		font-weight: bold;
		margin-left: 10px;
	}
	.modal-post {
		max-width: @width2;
		min-width: @width2;
	}
	.modal-field {
		float: left;
		font-weight: bold;
		margin-left: 10px;
		padding-top: 10px;
	}
	.modal-comment {
		max-width: @width2;
		min-height: @height1;
		min-width: @width2;
	}
	.modal-password {
		max-width: @width2;
		min-width: @width2;
	}
	.js_hook_realtimethread {
		border-top: 1px solid @color29;
		clear: both;
		font-size: 18px;
		font-weight: bold;
		margin: 10px 10px 10px 20px;
		padding: 5px;
		a.btn {
			bottom: 1px;
			position: relative;
		}
	}
	.loading {
		display: none;
		margin: auto;
		text-align: center;
		width: @width19;
	}
	.spoiler {
		background: @color0;
		color: @color0;
		&:hover {
			color: @color1;
			color: @color9;
		}
	}
	.overline {
		text-decoration: overline;
	}
	.strikethrough {
		text-decoration: line-through;
	}
	.underline {
		text-decoration: underline;
	}
	.expert {
		text-decoration: overline underline;
	}
	.banned {
		color: @color19;
		font-weight: bold;
	}
	.is_spam {
		display: none;
	}
	.paginate {
		background-color: #C4FCC4;
		background: #ddebdd;
		border-style: double;
		font-family: monospace;
		height: 36px;
		padding: 2px 10px 2px 35px;
		a {
			*border-right-color: @color8;
			border-right-color: @color8;
			border-right-color: rgba(0, 0, 0, 0.15);
			border-right: 1px solid;
			float: left;
			line-height: 34px;
			padding: 0 14px;
			text-decoration: none;
			&:hover {
				background-color: @color21;
			}
		}
		span {
			*border-right-color: @color8;
			border-right-color: @color8;
			border-right-color: rgba(0, 0, 0, 0.15);
			border-right: 1px solid;
			float: left;
			line-height: 34px;
			padding: 0 14px;
			text-decoration: none;
		}
		.active {
			a {
				background-color: @color21;
			}
		}
		ul {
			-moz-border-radius: 3px;
			-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
			-webkit-border-radius: 3px;
			-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
			background: @color1;
			border-radius: 3px;
			border: 1px solid @color8;
			border: 1px solid rgba(0, 0, 0, 0.15);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
			float: left;
			margin: 0;
		}
		li {
			display: inline;
		}
		.disabled {
			a {
				background-color: transparent;
				color: @color23;
				&:hover {
					background-color: transparent;
					color: @color23;
				}
			}
		}
		.next {
			a {
				border: 0;
			}
		}
	}
	.btn-toggle-post {
		background-color: #f5f5f5;
		border: 1px solid @color17;
		display: inline-block;
		font-size: 10px;
		line-height: 15px;
		padding: 2px 6px;
		text-align: center;
		vertical-align: middle;
	}
	div[class*="stub_doc_id_"] {
		display: none;
	}
	.thread.stub {
		border-top: 1px solid @color13;
		border-top: 1px solid rgba(0, 0, 0, 0.5);
		margin: 0 15px;
		padding: 25px 0;
	}
	.post.stub {
		margin: 0px 5px 3px 16px;
	}
	.stub {
		display: none;
	}
	.text-small {
		font-size: 1em !important;
	}
	article {
		.post_extra_mod {
			display: none;
		}
		.alert-info {
			color: @color13;
		}
		.post_mod {
			padding:5px 0 0 0;
		}
		.post_mod_controls {
			display:none;
			padding:5px 0 0 5px;
		}
	}
	.modal-information {
		label {
			min-width: 95px;
		}
	}
	.thread_tools_bottom>.post_mod {
		clear:none;
	}
	.thread_tools_bottom>.post_mod_controls {
		clear:none;
	}
	.post_mod {
		clear:both;
	}
	.post_mod_controls {
		clear:both;
	}
	span.highlight {
		background: @color10;
		color: @color1;
		font-weight: bold;
	}
	.navbar-inner {
		background-color: #0000;
		border: none;
	}
	header {
		a.btnr.parent {
			border: none;
			color: @color19;
			font-family: monospace;
			text-decoration: underline;
		}
	}
	.post_author {
		font-family: monospace;
	}
	.post_title {
		font-family: monospace;
		margin-right:3px;
		text-shadow: 1px 1px #fc7494;
	}
	.post_file_filename {
		font-family: monospace;
	}
	.omitted_text {
		color: @color16;
		font-family: monospace;
	}
	.rules_box {
		display: none;
	}
	.rules {
		td {
			border-bottom: none;
		}
	}
	.navbar-inverse {
		border: none;
	}
	.dropdown-toggle {
		color: @color11;
	}
	.nav {
		a {
			color: @color11;
		}
	}
	label.add-on {
		background: @color27;
		border-color:@color25;
		color: @color26;
		font-family: monospace;
	}
	input.btn {
		background: @color27;
		border-color:@color25;
		color: @color26;
		font-family: monospace;
	}
	.nav.pull-right {
		background: url(https://kebabland.neocities.org/host/banner.png) no-repeat;
		border: 0px;
		box-sizing: border-box;
		height: @height1;
		width: 384px;
		input {
			opacity: 0;
			&:hover {
				opacity: 1;
			}
		}
	}
	i {
		color:#ff043c;
	}
}
input[type="radio"] {
	margin-top: 0;
}
input[type="checkbox"] {
	margin-top: 0;
}
.theme_default.midnight {
	a {
		color: @color15;
		&:visited {
			color: @color15;
		}
		&:hover {
			color: @color28;
		}
	}
	.btnr {
		color: @color15;
		&:visited {
			color: @color15;
		}
		&:hover {
			color: @color28;
		}
	}
	.thread_form {
		textarea {
			background-color: @color7;
			border: 1px solid @color6;
			color: @color4;
		}
		input[type=text] {
			background-color: @color7;
			border: 1px solid @color6;
			color: @color4;
		}
		input[type=password] {
			background-color: @color7;
			border: 1px solid @color6;
			color: @color4;
		}
		select {
			background-color: @color7;
			border: 1px solid @color6;
			color: @color4;
		}
		input[type=file] {
			background-color: @color7;
			border: 1px solid @color6;
			color: @color4;
		}
		.input-append {
			.add-on {
				border: 1px solid @color6;
				text-shadow: none;
			}
		}
		.input-prepend {
			.add-on {
				border: 1px solid @color6;
				text-shadow: none;
			}
		}
		label {
			background-color: @color7;
			color: @color4;
		}
		.rules {
			color: @color2;
		}
	}
	.thread_form.uneditable-input {
		background-color: @color7;
		border: 1px solid @color6;
		color: @color4;
	}
	&: {
		-moz-selection {
			background-color: #757575 !important;
		}
		selection {
			background: rgba(117, 117, 117, 0.996) !important;
		}
	}
	.container {
		background: @color0;
		color: @color2;
	}
	.container-fluid {
		background: @color7;
		color: @color2;
	}
	.btn-group {
		color: @color0;
	}
	.dropdown-menu {
		a {
			color: black !important;
		}
	}
	.btn-inverse {
		background: #4c5057;
	}
	#footer {
		background: @color0;
		color: @color2;
		a {
			color: @color2;
		}
		ul {
			a {
				color: @color0;
			}
		}
	}
	.navbar {
		.nav>li>a {
			color: @color2;
		}
		.navbar-inner {
			background: @color0;
		}
	}
	.letters {
		background: @color0;
		color: @color2;
		a {
			&:visited {
				color: @color2 !important;
			}
		}
	}
	.navbar-search {
		.search-query {
			border-bottom-color: rgba(126, 126, 126, 0.3);
			border-right-color: rgba(255, 255, 255, 0.15);
		}
	}
	.search_box {
		color: @color0;
	}
	#main {
		.section_title {
			border-color: @color0;
		}
	}
	article.thread {
		.post_type_is_op {
			color: @color20;
		}
		.post_show_board {
			color: @color20;
		}
		.post_type {
			img {
				background-color: @color2;
			}
		}
		h2.post_title {
			color: #b294bb;
		}
		.post_author {
			color: @color9;
		}
		.post_tripcode {
			color: @color9;
		}
		.report_reason {
			background: #203357;
			border: 1px solid #17399b;
		}
		.greentext {
			color: #b5bd68;
		}
		.spoiler {
			.greentext {
				color: #999999;
			}
			&:hover {
				.greentext {
					color: #8deb8c;
				}
			}
		}
		.backlink.op {
			border-bottom: 1px dotted @color15;
		}
	}
	article.thread>.thread_image_box {
		color: @color2;
		text-shadow: none;
	}
	article.thread>.thread_tools_bottom {
		.omitted {
			color: @color2;
		}
	}
	article.thread>.text {
		color: @color2;
	}
	.post_wrapper {
		background: @color14;
		border-bottom: 1px solid @color14;
		border-radius: 5px;
	}
	.post {
		.post_data {
			color: @color2;
		}
	}
	.post.post_ghost {
		.post_wrapper {
			border-bottom: 1px solid @color0;
			border-left: 5px solid @color0;
			border-right: 1px solid @color0;
			border-top: 1px solid @color0;
		}
	}
	.post.highlight {
		.post_wrapper {
			background: #1d1d21;
			border: 1px solid #111111;
		}
	}
	#backlink {
		-moz-box-shadow: 0px 0px 3px @color18;
		-webkit-box-shadow: 0px 0px 3px @color18;
		box-shadow: 0px 0px 3px @color18;
	}
	.thread_form_wrap {
		background: @color14;
		border-color: @color0;
	}
	#reply_ajax_notices.error {
		background: #5f2627;
		border: 1px solid #8d3a31;
		display: block;
		margin-left: 0px;
	}
	#reply_ajax_notices.success {
		background: #484a4e;
		border-color: #121315;
		color: @color2;
	}
	#thread_o_matic>article.thread {
		border-color: @color0;
		&:nth-of-type(n+5) {
			border-top: 2px solid @color30;
		}
	}
	.js_hook_realtimethread {
		border-color: @color0;
		color: @color2;
	}
	.spoiler {
		background: @color4;
		color: @color4;
		&:hover {
			color: @color0;
		}
	}
	.paginate {
		background: #3e3e3e;
		a {
			color: @color0;
		}
	}
	.modal {
		color: @color0;
	}
	.table-striped {
		tbody {
			tr {
				&:nth-child(2n+1) {
					td {
						background-color: @color14;
					}
				}
			}
		}
	}
	span.highlight {
		background: @color0;
	}
}
html {
	height: @height4;
	margin: 0;
	padding: 0;
}
body.theme_default {
	background-size: 20%, auto !important;
	background: url('https://kebabland.neocities.org/host/futaba.png') no-repeat no-repeat fixed bottom right, url('https://kebabland.neocities.org/host/background.png') repeat !important;
	color: @color13;
	font-family: "Arial", sans-serif;
	height: @height4;
	margin: 0;
	padding: 0;
}
a.visited {
	color: @color0;
	color: @color2;
	color: inherit;
}
.navbar-inverse {
	.nav {
		li.dropdown.open>.dropdown-toggle {
			background-color: transparent;
		}
		li.dropdown.active>.dropdown-toggle {
			background-color: transparent;
		}
		li.dropdown.open.active>.dropdown-toggle {
			background-color: transparent;
		}
	}
}
.dropup {
	.caret {
		border-bottom-color: @color9;
	}
}
.navbar-fixed-bottom {
	.dropdown {
		.caret {
			border-bottom-color: @color9;
		}
	}
}
.btnr {
	&:visited {
		background: transparent;
		border: 1px solid @color3;
		border: 1px solid rgba(0, 0, 0, 0.1);
		color: @color5;
		font-size: 11px;
		line-height: 11px;
		margin: 0 2px;
		padding: 0px 3px 1px;
		position: relative;
		text-shadow: none;
		top: -1px;
	}
}
.table-striped {
	tbody {
		tr {
			&:nth-child(2n+1) {
				th {
					background-color: @color14;
				}
			}
		}
	}
}
code.hljs {
	display: inline;
}
.btn-group+.btn-group {
	margin-left: 0 !important;
}
.shift-jis {
	font-family: 'IPAMonaPGothic', 'IPA モナー Pゴシック', Mona, 'MS PGothic', 'ＭＳ Ｐゴシック', Osaka, YOzFontAA97, monospace;
	font-size: 16px;
	line-height: 17px;
}
span.shift-jis {
	overflow: auto;
	white-space: pre;
}
.qst-color.red {
	color: #c41e3a;
}
.qst-color.green {
	color: #00a550;
}
.qst-color.blue {
	color: #1d8dc4;
}